<div class="bottom-bar-wrapper">
    <div class="folge-uns-item">
        <p>FOLGE UNS</p>
    </div>
    <div class="link-items">
        <ul style="list-style-type:none" class="footer-links">
            <li><a>GiT</a></li>
            <li><a>BLOG</a></li>
            <li><a>Wiki</a></li>
            <li><a>YouTrack</a></li>
        </ul>
    </div>
    <div class="bottom-logo">
        <p>BETTERZON</p>
    </div>
    <div class="bottom-info">
        <ul style="list-style-type:none" class="footer-links">
            <li><a>COOKIES</a></li>
            <li><a>NUTZUNGSBEDINGUNGEN</a></li>
            <li><a>IMPRESSUM</a></li>
        </ul>
    </div>
</div>


