<div class="bottom-bar-wrapper">
    <div class="folge-uns-item">
        <p><span id="folge">FOLGE</span><span id="uns">UNS</span></p>
    </div>
    <div class="link-items">
        <ul style="list-style-type:none" class="footer-links">
            <li><a href="https://github.com/Mueller-Patrick/Betterzon">GiT</a></li>
            <li><a href="https://blog.betterzon.xyz/">BLOG</a></li>
            <li><a href="https://github.com/Mueller-Patrick/Betterzon/wiki">Wiki</a></li>
        </ul>
    </div>
    <div id="footer-line">

    </div>
    <div class="bottom-logo">
        <p><span id="better">BETTER</span><span id="zon">ZON</span></p>
    </div>
    <div class="bottom-info">
        <ul style="list-style-type:none" class="footer-links">
            <li><a>DATENSCHUTZERKLÄRUNG</a></li>
            <li><a>IMPRESSUM</a></li>
        </ul>
    </div>
</div>


