<!--- footer --->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="footer">
    <div class='wrap' id="footer-icons">
        <div class="icons">
            <a href="https://github.com/Mueller-Patrick/Betterzon" class="fa fa-github fa-4x icon-3d"></a>
            <a href="https://twitter.com/elonmusk" class="fa fa-twitter fa-4x icon-3d"></a>
            <a href="https://www.facebook.com/TheElonmusk/" class="fa fa-facebook fa-4x icon-3d"></a>
        </div>
        <div class = "blocks" id="copyright">© COPYRIGHT 2020</div>
    </div>
    <div id="imprintSection">
        <a href="/impressum" >Imprint</a><br>
        <a href="/datenschutz">Privacy Policy</a>
    </div>
</footer>
