.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dimgrey;
    color: white;
    text-align: center;
}

.icon-3d {
    padding: 10px;
    color: #fff;
}



