<ngb-carousel>
    <div class="productItem" *ngFor="let product of products" (click)="clickedProduct(product)">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <div class="productImageContainer" *ngIf="showProductPicture===true">
                    <img class="productImage" src="https://www.mueller-patrick.tech/betterzon/images/{{product.image_guid}}.jpg"/>
                </div>
            </div>
            <div class="carousel-caption">
                <div class="productDescription">
                    <div *ngIf="product.short_description.length > 300">
                        {{product.short_description.substring(0, 300) + "..."}}
                    </div>
                    <div *ngIf="product.short_description.length <= 300">
                        {{product.short_description}}
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</ngb-carousel>


