.top-bar-wrapper {
    display: grid;
    grid-template-columns: 200px 360px 820px 20px 250px;
    grid-template-rows: 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
}

.top-logo {
    grid-area: 1/1;
}

#better {
    font-size: 28px;
    font-weight: bold;
    color: #3480E3;
}

#zon {
    font-size: 28px;
    font-weight: bold;
    color: #E53167;
}

.search-button {
    /*background-color: #E53167;*/
}

.sign-up {
    /*background-color: #E53167;*/
    margin-left: 50px;
    margin-right: 25px;
}

.login {
    margin-right: 25px;
}

#signin {
    border-radius: 25px;
    background-color: #E53167;
}

._links > a {
    /*background-color: #E53167;*/
    margin-left: 10px;
    margin-right: 10px;
}

._signing_links > a {
    /*background-color: #E53167;*/
    margin-left: 50px;
}
