<div class="top-bar-wrapper">
    <div class="<top-logo>">
        <a><span id="better">BETTER</span><span id="zon">ZON</span></a>
    </div>
    <div class="links">
        <nav class="_links">
            <a>KONTAKTIERE UNS</a>
            <a>KUNDEN</a>
            <a>FAQ</a>
        </nav>
    </div>
    <div class="footer_space">

    </div>
    <div class="search-button">
        <a>
            <img src="assets/images/search_black_24dp.svg" alt="Sarch button">
        </a>
    </div>
    <div class="links">
        <nav class="_signing_links">
            <a>SIGN UP</a>
            <a><span id="signin">SIGN IN</span></a>
        </nav>
    </div>
</div>
