<div class="hot-deal-widget-wrapper">
    <div class="product-description">
        <div id="hot-deals">
            <h1>HOT DEALS</h1>
        </div>
        <div id="product-name">
            <h1>Neues Apple iPhone 12 Pro <br> (512 GB) - Graphit</h1>
        </div>
        <div id="sales">
            SPARE BIS ZU 7%!
        </div>
        <div id="futher-informations">
            Weitere Informationen
        </div>
        <div id="points">
            points
        </div>
    </div>
    <div class="product-image">
        <img src="assets/images/iphone-12-pro-silver-hero.png" height="771">
    </div>
</div>

